{% extends "base.html" %}
{% block content %}
<nav class="room-nav">
    <p>Room code: {{room}}</p>
    <div class="guess-parent">
        <div class="guess">
            <small>GUESS THIS</small>
            <p class="secret-word">secret</p>
        </div>
    </div>
</nav>
<main class="main-body">
    <div class="player-area">
        <div id="player-list"></div>
    </div>
    <div class="board-area">
        <canvas></canvas>
        <div class="tools">
            <button id="delete">DEL</button>
            <button id="undo">UNDO</button>
            <div class="colors">
                <ul class="options">
                    <li class="option"></li>
                    <li class="option"></li>
                    <li class="option"></li>
                    <li class="option">
                        <input type="color" value="#7517E8" id="color-picker">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="msg-area">
        <div class="msg-display" id="msg-display"></div>
        <div class="msg-box">
            <input type="text" placeholder="Guess!" name="guess" id="usr-input">
            <button type="submit" id="submit-btn" hidden>
        </div>
    </div>
</main>
<script>
    var socket = io();
    const canvas = document.querySelector("canvas");
    const ctx = canvas.getContext("2d");
    const colorsBtns = document.querySelectorAll(".colors .option"),
    deleteBtn = document.getElementById("delete"),
    undoBtn = document.getElementById("undo"),
    colorPicker = document.querySelector("#color-picker");
    
    let isDrawing = false;
    let selectedColor = "#000";
    let paths = [],
    pathIndex = -1;
    window.addEventListener("load", () => {
        canvas.width = canvas.offsetWidth;
        canvas.height = canvas.offsetHeight;
    });
    const startDrawing = () => {
        isDrawing = true;
        ctx.beginPath();
        ctx.lineWidth = 2;
        ctx.strokeStyle = selectedColor;
        ctx.fillStyle = selectedColor;
    }
    const draw = (e) => {
        if (!isDrawing) return;
        ctx.lineTo(e.offsetX, e.offsetY);
        ctx.stroke();
    }

    canvas.addEventListener("mousedown", startDrawing);
    canvas.addEventListener("mousemove", draw);
    canvas.addEventListener("mouseup", (event) => {
        isDrawing = false;
        let imgData = ctx.getImageData(0,0, canvas.width, canvas.height);
        const imgUrl = canvas.toDataURL();
        paths.push(imgData);
        pathIndex+=1;
        socket.emit("canvas_update", imgUrl); // {"imgData": imgData, "index": pathIndex} send the canvas data to server.. ERR here, it deletes the room
        // imgUrl works but not imgData !!!
    });

    deleteBtn.addEventListener("click", () => {
        ctx.clearRect(0,0,canvas.width, canvas.height);
        paths = [];
        pathIndex = -1;
        ctx.fillStyle = "#fff";
        ctx.fillRect(0,0, canvas.width, canvas.height); // this is so the canvas url is also a blank canvas
        const imgUrl = canvas.toDataURL(); // doesnt work unless ctx.fillRect with white
        socket.emit("canvas_update", imgUrl);
    });

    undoBtn.addEventListener("click", () => {
        if (pathIndex <= 0) {
            ctx.clearRect(0,0, canvas.width, canvas.height);
            const imgUrl = canvas.toDataURL();
            socket.emit("canvas_update", imgUrl);
        }
        else {
            paths.pop();
            pathIndex-=1;
            ctx.putImageData(paths[pathIndex], 0, 0);
            const imgUrl = canvas.toDataURL();
            socket.emit("canvas_update", imgUrl);
        }
    });

    colorsBtns.forEach(btn => {
        btn.addEventListener("click", () => {
            selectedColor = window.getComputedStyle(btn).getPropertyValue("background-color");
        });
    });
    colorPicker.addEventListener("change", () => {
        colorPicker.parentElement.style.backgroundColor = colorPicker.value;
        colorPicker.parentElement.click();
    });
    
    function createMessage(usr, msg) {
        let msgBox = document.getElementById("msg-display");
        let msgBlock = document.createElement("div");
        msgBlock.classList.add("msg-block");
        let msgSpan = document.createElement("span");
        let userBold = document.createElement("STRONG");
        let usrText = document.createTextNode(`${usr}: `);
        userBold.appendChild(usrText);
        msgSpan.appendChild(userBold);  
        msgText = document.createTextNode(`${msg}`);
        msgSpan.appendChild(msgText);
        msgBlock.appendChild(msgSpan);
        msgBox.appendChild(msgBlock);
    }
    function createUser(usr) {
        let playerList = document.getElementById("player-list");
        let playerDiv = document.createElement("div");
        playerDiv.classList.add("player");
        let playerInfo = document.createElement("div");
        playerInfo.classList.add("player-info");
        let playerName = document.createElement("p");
        playerName.textContent = usr;
        playerName.classList.add("player-name");
        playerInfo.appendChild(playerName);
        playerDiv.appendChild(playerInfo);
        playerList.appendChild(playerDiv);
    }
    let submitBtn = document.getElementById("submit-btn");
    let usrInput = document.getElementById("usr-input");
    usrInput.addEventListener("keyup", (event) => {
        event.preventDefault();
        if (event.keyCode === 13) {
            socket.emit("message", {"msg": usrInput.value});
            usrInput.value = "";
        }
    });
    socket.on("message", (data) => {
        createMessage(data.usr, data.msg);
        if (typeof data.usrList !== "undefined") { // this can probably be done better with a custom event
            data.usrList.forEach((currentValue) => {
                createUser(currentValue.user); // PROBLEM this just appends more users, including existing ones
            });
        }
    });
    socket.on("renew", (data) => {
        const image = new Image();
        image.src = data;
        image.onload = () => {
            ctx.drawImage(image, 0, 0);
        }
    });
</script>
{% endblock %}