{% extends "base.html" %}
{% block content %}
<nav class="room-nav">
    <p>Room code: {{room}}</p>
    <div class="guess-parent">
        <div class="guess">
            <small>GUESS THIS</small>
            <p class="secret-word">secret</p>
        </div>
    </div>
</nav>
<main class="main-body">
    <div class="player-area">
        <div id="player-list"></div>
    </div>
    <div class="board-area">
    </div>
    <div class="msg-area">
        <div class="msg-display" id="msg-display"></div>
        <div class="msg-box">
            <input type="text" placeholder="Guess!" name="guess" id="usr-input">
            <button type="submit" id="submit-btn" hidden>
        </div>
    </div>
</main>
<script>
    var socket = io();
    function createMessage(usr, msg) {
        let msgBox = document.getElementById("msg-display");
        let msgBlock = document.createElement("div");
        msgBlock.classList.add("msg-block");
        let msgSpan = document.createElement("span");
        let userBold = document.createElement("STRONG");
        let usrText = document.createTextNode(`${usr}: `);
        userBold.appendChild(usrText);
        msgSpan.appendChild(userBold);  
        msgText = document.createTextNode(`${msg}`);
        msgSpan.appendChild(msgText);
        msgBlock.appendChild(msgSpan);
        msgBox.appendChild(msgBlock);
    }
    function createUser(usr) {
        let playerList = document.getElementById("player-list");
        let playerDiv = document.createElement("div");
        playerDiv.classList.add("player");
        let playerInfo = document.createElement("div");
        playerInfo.classList.add("player-info");
        let playerName = document.createElement("p");
        playerName.textContent = usr;
        playerName.classList.add("player-name");
        playerInfo.appendChild(playerName);
        playerDiv.appendChild(playerInfo);
        playerList.appendChild(playerDiv);
    }
    let submitBtn = document.getElementById("submit-btn");
    let usrInput = document.getElementById("usr-input");
    usrInput.addEventListener("keyup", (event) => {
        event.preventDefault();
        if (event.keyCode === 13) {
            socket.emit("message", {"msg": usrInput.value});
            usrInput.value = "";
        }
    });
    socket.on("message", (data) => {
        createMessage(data.usr, data.msg);
        if (typeof data.usrList !== "undefined" || data.usrList !== null) {
            data.usrList.forEach((currentValue) => {
                createUser(currentValue.user);
            });
        }
    });
</script>
{% endblock %}